@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


body {
       font-family: "Poppins", sans-serif;
       font-weight: 300;
       background-color: #0093E9;
       background-image: -webkit-linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
       background-image: -moz-linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
       background-image: -o-linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
       background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

*{
       padding: 0;
       margin: 0;
}
.checkout-container {
       
       height: 100vh;
}

.card {
       width: 400px;
       border: none;
       background-color: #FBAB7E;
       background-image: -webkit-linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
       background-image: -moz-linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
       background-image: -o-linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
       background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

       height: 350px;
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 15px;
}

.app-button {

       width: 280px;
       height: 80px;
       border-radius: 13px;
       padding-left: 28px;
       padding-top: 10px;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1)
}

.app-button i {
       font-size: 60px;
       margin-right: 10px;
}

.whatsapp{
       background: #00b09b;  /* fallback for old browsers */
       background: -webkit-linear-gradient(to right, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
       background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
       
}

.telegram{
       background-image: linear-gradient( 180.7deg,  rgba(0,213,255,1) 2.5%, rgba(79,255,255,1) 97.7% );
}